main {
  padding-top: 100px;
}
.purple-text-color {
  color: #ff3786;
}
.purple-bg-color {
  background-color: #ff3383;
}
.cream-bg-color {
  background-color: #fff2f1;
}
/* Category - 1 */
.category-1 {
  background-color: #ffb02a;
}
/* Category - 2 */
.category-2 {
  background-color: #ff3d8a;
}

/* Category - 3 */
.category-3 {
  background-color: #4154fc;
}
/* Shoes and bags section */
.shoes-bags-section {
  background-color: rgb(211, 211, 211, 0.1);
}
/* See All - btn color  */
.see-all-btn {
  color: orange;
}
/* Contact Form Style */
.contact-form {
  padding: 110px 0;
  background-color: #fceae8;
}
.email-input-box {
  font-size: 20px;
  min-width: 160px;
  max-width: 400px;
}
.send-btn {
  font-size: 20px;
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  padding: 10px 30px;
}
