/* Category - 1 */
.category-1 {
  background-color: orange;
}
/* Category - 2 */
.category-2 {
  background-color: orchid;
}

/* Category - 3 */
.category-3 {
  background-color: blue;
}
/* Shoes and bags section */
.shoes-bags-section {
  background-color: rgb(211, 211, 211, 0.1);
}
/* See All - btn color  */
.see-all-btn {
  color: orange;
}
